.panel-login {
    margin-top: 30px;
}

.navbar-fixed-bottom {
    text-align: center;
}

.navbar-fixed-bottom .navbar-brand {
    display: inline-block;
    float: none;
}

#faq-data {
    display: none;
}
body {
    padding-top: 70px;
}

.page-header {
    margin-top: 0;
}

.modal-dialog-center {
    position: absolute;
    width: 40%;
    height: 50%;
    top: 25%;
    left: 30%;
}

table tr th {
    text-align: center;
}

dl dt {
    text-align: center !important;
}